<p>home works!</p>
<!--<div class="home-counter">-->
<!--  <button (click)="count = count + 1">Increment</button>-->
<!--  <b>Current Count: {{ count }} </b>-->
<!--  <button (click)="count = count - 1 ">Decrement</button>-->
<!--</div>-->
<!--<hr/>-->
<div class="home-counter">
  <button (click)="handleDecrement()">Decrement</button>
  <b>Current Count: {{ count }} </b>
  <button (click)="handleIncrement()">Increment</button>
</div>
<p><b>Input Counter Value inputCounter: {{ inputCounter }}</b></p>
<p><b>Input Counter Value numberData: {{ numberData }}</b></p>
